<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../login.css"/>
        
{% block body %}

<body>
        <div class="logo_center">
        <a href="http://lamarquisette.fr"><img class="img-responsive" src="../img/marquisette_logo.png"/></a>
        </div>
        <div class="login">
            <div class="bienvenue">
                <h2>Compte client</h2>
                {% if error %}
                    <div class="alert alert-danger">{{ error.message }}</div>
                {% endif %}
                <form action="{{ path('login_check') }}" method="post">

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control" name="_username" placeholder="Identifiant" value="{{ last_username }}">
                    </div>

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input type="password" class="form-control" name="_password" placeholder="Mot de passe">
                    </div>
                    <button type="submit" class="float">Se connecter</button>
                </form>
            </div>
        </div>
    </body>

{% endblock %}




</html>

