html,
body{
    background-color: #FFF0CE ;
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}
.container{
    width: 100%;
    max-height: 100%;
}

.logo_center{
    margin-top:3%;
    width : 300px; 
    margin-left: auto;
    margin-right: auto;
}

.login {
    padding: 15px;
    width: 400px;
    height: 450px;
    margin: 2% auto 0 auto;
}

.login .bienvenue {
    text-align: center;
    margin-top: 1%;
}

.login .bienvenue h2 {
    font-size: 3em;
    font-weight: 300;
    color: #312F48 ;
    display: inline-block;
    padding-bottom: 5px;
}

.login form .input-group {
    border-bottom: 1px solid rgb(174, 15, 9);
    border-top: 1px solid rgb(174, 15, 9);
}

.login form .input-group:last-of-type {
    border-top: none;
}

.login form .input-group span {
    background: transparent;
    min-width: 53px;
    border: none;
}

.login form input.form-control {
    display: block;
    width: auto;
    height: auto;
    border: none;
    outline: none;
    box-shadow: none;
    background: none;
    border-radius: 2px;
    padding: 10px;
    font-size: 1.6em;
    width: 100%;
    background: transparent;
    color: rgb(174, 15, 9);
}

.login form input.form-control:focus {
    border: none;
}

.login form button {
    margin-top: 20px;
    background: #312F48 ;
    border: none;
    font-size: 1.6em;
    font-weight: 300;
    padding: 5px 0;
    width: 100%;
    border-radius: 3px;
    color: #FFF0CE ;
}

.login form button:hover {
    background: lightred;
    -webkit-animation: hop 1s;
    animation: hop 1s;
}

.float {
    display: inline-block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
}

.float:hover, .float:focus, .float:active {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
    .login {
        width: 600px;
        font-size: 1em;
    }
}
@media only screen and (max-width: 1100px) {
    .login {
        margin-top: 2%;
        width: 600px;
        font-size: 1em;
    }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    .login {
        margin-top: 1%;
        width: 550px;
        font-size: 1em;
        min-height: 0;
    }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    .login {
        margin-top: 0;
        width: 500px;
        font-size: .9em;
        min-height: 0;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    .login {
        margin-top: 0;
        width: 320px;
        font-size: .7;
        min-height: 0;
    }
    .login h2 {
        margin-top: 0;
    }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
    .login {
        margin-top: 0;
        width: 200px;
        font-size: 0.7em;
        min-height: 0;
    }
}