@font-face {
  font-family: "titles";
  src: url("polices/titles.ttf"); }
@font-face {
  font-family: "text";
  src: url("polices/myriad.ttf"); }
.border-red {
  border-left: 4px solid #ae0f09;
  border-right: 4px solid #ae0f09; }

.carousel {
  border-bottom: 2px solid #ae0f09; }

html,
body {
  height: 100%;
  width: 100%;
  background-color: #fff0ce; }
  html h1,
  body h1 {
    font-size: 65px;
    text-transform: uppercase;
    font-family: "titles";
    color: #ae0f09; }
  html li,
  body li {
    list-style-type: none; }
  html p,
  body p {
    font-family: "text";
    color: #312f48;
    font-size: 17.3px;
    text-align: justify; }
  html ul,
  body ul {
    padding: 0;
    margin: 0; }

.container {
  min-height: 100%;
  width: 100%; }

.titles {
  color: #ae0f09;
  font-size: 50px;
  text-align: center;
  margin-top: 8%;
  padding-bottom: 2.4%;
  border-bottom: 2px solid #312f48; }

@media screen and (max-width: 480px) {
  .titles {
    font-size: 22px;
    margin-top: 8%;
    padding-bottom: 1.4%;
    border-bottom: 1px solid #312f48; } }
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

section p {
  padding-top: 3%; }

.message-area {
  resize: none; }

.logo-connex {
  height: 40px;
  width: 40px; }

.logo-center {
  margin-top: 2.4%;
  width: 300px;
  margin-left: auto;
  margin-right: auto; }

.align {
  display: flex;
  flex-direction: column-reverse;
  float: right;
  margin-top: .5%;
  margin-right: 1%; }

.align-responsive {
  width: 100%; }

.logo-hover:hover {
  background-color: #edd4be; }

@media screen and (max-width: 767px) {
  .align {
    float: none;
    margin-top: 1%;
    justify-content: center;
    flex-direction: row; } }
@media screen and (max-width: 767px) {
  .align-responsive {
    width: 100%;
    height: 52px;
    background-color: rgba(174, 15, 9, 0.8);
    position: fixed;
    z-index: 55555555555555555555 !important; } }
form p {
  font-family: "text";
  color: #312f48;
  font-size: 17.3px;
  text-align: center; }

header {
  border-top: 15px solid #ae0f09; }
  header a {
    text-decoration: none;
    color: #312f48; }
  header a:hover {
    text-decoration: none;
    color: #312f48; }
  header a:active {
    text-decoration: none;
    color: #312f48; }
  header .textred {
    color: #ae0f09;
    font-size: 50px; }

.img-majeur {
  margin: auto;
  margin-top: 4%; }

.img-logo {
  margin: auto;
  margin-top: 2%; }

.img1 {
  width: 100%;
  height: 100%;
  background-image: url(img/car1.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.img2 {
  width: 100%;
  height: 100%;
  background-image: url(img/car2.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.img3 {
  width: 100%;
  height: 100%;
  background-image: url(img/car3.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

@media screen and (max-width: 720px) {
  .carousel-indicators li {
    height: 25px;
    width: 25px;
    margin: 0px; }
  .carousel-indicators li.active {
    height: 25px;
    width: 25px;
    margin: 0px; } }
.navbar-nav li a {
  font-family: "titles";
  font-size:17px;
  color: #312f48; }

.navbar-nav li a:hover {
  background-color: #312f48;
  color: #fff0ce;
  transition: background-color .3s; }

.marg-nav {
  padding-bottom: 2%; }

.active, .dot:hover {
  border: 2px solid #312f48; }

.navy {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 40%;
  left: 4%; }
  .navy a {
    outline: none; }

.navy li {
  margin: 2px;
  cursor: pointer;
  border: 2px solid #ae0f09;
  width: 25px;
  height: 25px;
  border-color: #ae0f09;
  border-radius: 100%;
  z-index: 1500; }

.navy li:hover {
  background-color: rgba(174, 15, 9, 0.66); }

.item {
  border: none; }

.carousel-indicators {
  color: #ae0f09; }

.marge-img {
  padding-top: 1%; }

.marge-img2 {
  margin-top: -4%; }

.marge-img3 {
  margin-top: -2%; }

.marge-img4 {
  margin-top: 4%; }

body {
  overflow-x: hidden; }

.marg-text {
  padding-bottom: 1%; }

.marg-button {
  margin-bottom: 5%; }

.sombre:hover {
  background-color: #edd4be; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

label {
  margin-right: 20px; }

#msg_nom {
  color: #ae0f09; }

#msg_sujet {
  color: #ae0f09; }

#msg_email {
  color: #ae0f09; }

#msg_message {
  color: #ae0f09; }

#send {
  color: #111; }

#nom {
  border-bottom: 2px solid #312f48;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background-color: #fff0ce;
  font-family: "text";
  font-size: 18px; }

#sujet {
  border-bottom: 2px solid #312f48;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background-color: #fff0ce;
  font-family: "text";
  font-size: 18px; }

#email {
  border-bottom: 2px solid #312f48;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background-color: #fff0ce;
  font-family: "text";
  font-size: 18px; }

#nom:focus {
  border-bottom: 2px solid #ae0f09;
  transition: border-bottom 0.5s; }

#sujet:focus {
  border-bottom: 2px solid #ae0f09;
  transition: border-bottom 0.5s; }

#email:focus {
  border-bottom: 2px solid #ae0f09;
  transition: border-bottom 0.5s; }

#message {
  border: 2px solid #312f48;
  color: #111;
  background-color: #fff0ce;
  font-family: "text";
  font-size: 18px;
  margin-top: 3%; }

#message:focus {
  border-radius: 5px;
  -moz-box-shadow: 10px 10px 5px 0px #656565;
  -webkit-box-shadow: 10px 10px 5px 0px #656565;
  -o-box-shadow: 10px 10px 5px 0px #656565;
  box-shadow: 10px 10px 5px 0px #656565;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
  border: 2px solid #ae0f09;
  transition: box-shadow 1s , border-radius 1s , border 0.5s; }

#msg_all {
  margin-top: 150px; }

.boutonSend {
  width: 125px;
  height: 40px;
  border: 2px solid #312f48;
  border-radius: 2px;
  margin-top: 2%;
  font-family: "titles";
  font-size: 15px; }

.boutonSend:hover {
  cursor: pointer;
  background-color: #312f48; }

#send {
  color: #312f48; }

#send:hover {
  color: #f9f9f9; }

.msgConfirm {
  font-family: "titles";
  font-size: 800px; }

footer p {
  font-family: "text";
  color: #f9f9f9;
  font-size: 17.3px;
  text-align: center; }

.endSite {
  padding-top: 1.7%;
  background-color: #312f48;
  border-bottom: 15px solid #312f48;
  text-align: center; }

.bonjour{
    font-family: 'titles';
    font-size:17px;   
}
.red{
    color: rgb(174, 15, 9);
}

@media screen and (max-width: 480px) {
  textarea {
    width: 220px;
    height: 150px; }

  .endSite {
    padding-top: 7%; } }


.reset-dec{
    color: #f9f9f9;
}
.reset-dec:hover{
    text-decoration: none;
        color: #a1a1a1;
}
.reset-dec:focus{
    text-decoration: none;
        color: #f9f9f9;
}
/*# sourceMappingURL=main.css.map */
